@page
@model IndexModel
@{
    ViewData["Title"] = "Pagina Inicial";
}

<div class="text-center mt-5 ">
    <h6 class="display-6">Olá, tudo bem? Este é o teste para Desenvolvedor Full Stack da FIAP, Abaixo estão os 3 módulos que estão no desafio</h6>
    
    <div class="py-5">
        <div class="container">
            <div class="row hidden-md-up">
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-block">
                            <h4 class="card-title mt-3">Formulario de Aluno</h4>
                            <p class="card-text p-y-1"></p>
                            <a href="/aluno/index" class=" mb-4 col-5 btn btn-outline-primary text-center">Alunos</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-block">
                            <h4 class="card-title mt-3">Formulario de Turma</h4>
                            <p class="card-text p-y-1"></p>
                            <a href="/Turma/index" class=" mb-4 col-5 btn btn-outline-primary text-center">Alunos</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-block">
                            <h4 class="card-title mt-3">Formulario de Turma Com aluno</h4>
                            <p class="card-text p-y-1"></p>
                            <a href="/Relacionamento/index" class=" mb-4 col-5 btn btn-outline-primary text-center">Alunos</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
